---
layout: default
---
<article class="post container">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<!-- <div class="post-share">
  <div class="container">
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" class="post-share-icon twitter"></a>
    <a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon evernote"></a>
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
  </div>
</div> -->

{% if site.disqus.shortname %}
<div class="comment container">
  <div id="disqus_thread">
  </div>
</div>
{% endif %}


<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
  var gitalk = new Gitalk({
    clientID: '7aadfa41d2f12cdffe93',
    clientSecret: 'df52e8271dcb2344c6b01eb95ed97d2379f7bd41',
    repo: 'zweien.github.io',
    owner: 'zweien',
    admin: ['zweien'],
    id: location.pathname,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  });
  gitalk.render('gitalk-container')
</script> -->

<script type="text/javascript">
  $.getScript('https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js', function () {
    var gitalk = new Gitalk({
      clientID: '7aadfa41d2f12cdffe93',
      clientSecret: 'df52e8271dcb2344c6b01eb95ed97d2379f7bd41',
      repo: 'zweien.github.io',
      owner: 'zweien',
      admin: ['zweien'],
      id: decodeURI(location.pathname),
      distractionFreeMode: 'true',
      language: 'zh-CN',
      perPage: parseInt('10', 10)
    });
    gitalk.render('comments')
  })
</script>